:root {
    --one-color: #d9d8c2;
    --two-color: #73c487;
    --three-color: #fece00;
    --fourt-color: #bc0032;
}

body {
    font-size: 16px;
}

a{
    text-decoration: none;
}

footer h5 {
    color: var(--fourt-color);
}

footer>div>div:nth-child(3) {
    font-style: italic;
}

.navbar-brand h1 {
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
    color: var(--fourt-color);
}

.navbar a {
    text-align: center;
}

.navbar i {
    font-size: 1.8em;
    color: var(--fourt-color);
}

.navbar {
    border: 0;
}

#phone-number {
    padding-top: 1em;
}

#phone-number span {
    font-size: 0.8em;
    float: right;
}

#jumbotron {
    background-image: url(../img/jumb/min.jpg);
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    #jumbotron {
        background-image: url(../img/jumb/768.jpg);
        height: 250px;
    }
}

@media (min-width: 992px) {
    #jumbotron {
        background-image: url(../img/jumb/992.jpg);
        height: 350px;
    }
}

@media (min-width: 1200px) {
    #jumbotron {
        background-image: url(../img/jumb/1200.jpg);
        height: 450px;
    }
}

@media (min-width: 1400px) {
    #jumbotron {
        background-image: url(../img/jumb/max.jpg);
        height: 550px;
    }
}

@media (max-width: 992px) {
    footer {
        text-align: center;
    }
}